body {
     font-family: "Roboto", sans-serif;
     background-color: #FFFFFF;
     color: #434455;
}
ul {
     list-style: none;
     margin: 0;
     padding-left: 0;
}



.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;



}


h1, h2, h3, h4, h5, h6 {
     margin: 0;
}

p {
     margin: 0;
}

img {
     display: block;
     max-width: 100%;
     height: auto;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
